@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 228 28% 13%;
    --foreground: 0 0% 100%;
    
    --card: 228 28% 13%;
    --card-foreground: 0 0% 100%;
 
    --popover: 228 28% 13%;
    --popover-foreground: 0 0% 100%;
 
    --primary: 84 100% 50%;
    --primary-foreground: 228 28% 13%;
 
    --secondary: 228 28% 17%;
    --secondary-foreground: 0 0% 100%;
 
    --muted: 228 28% 17%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 228 28% 17%;
    --accent-foreground: 0 0% 100%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
 
    --border: 228 28% 17%;
    --input: 228 28% 17%;
    --ring: 84 100% 50%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #1A1F2C inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}